.tweet-content {
//height: 100px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  -moz-force-broken-image-icon: 1;
}

.logo {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    width: 960px;
    margin: 0 auto;
    font: 28px Helvetica, sans-serif; color: #333;
    
}

.home {
    text-align: center;
    padding: 80px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    width: 960px;
    margin: 0 auto;
    font: 24px Helvetica, sans-serif; color: #333;
}

html {}
body {   }
h1 { }
.home p {font-size: 1.5rem; margin-bottom: 1rem;}
body {  }

a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
 
