<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <h2>Sensible Twitter</h2>
        <hr>
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#tech" aria-controls="home" role="tab" data-toggle="tab">Tech</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sports</a></li>
            <li role="presentation"><a href="#politics" aria-controls="messages" role="tab" data-toggle="tab">Politics</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Startups</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Movies</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Travel</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Events</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Others</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tech" style="margin-top: 15px;">
              {{range $tweet := .TechTweets }}
              <div class="">{{$tweet.User.Name}}: {{$tweet.Text}}</div>
              <hr>
              {{end}}
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="politics" style="margin-top: 15px;">
              {{range $tweet := .PoliticsTweets }}
              <div class="">{{$tweet.User.Name}}: {{$tweet.Text}}</div>
              <hr>
              {{end}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>
</html>



