<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/sensible.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="logo">
                        Sensible
                    </div>

                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a href="#tech" aria-controls="home" role="tab" data-toggle="tab">Tech</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sports</a></li>
                            <li role="presentation"><a href="#politics" aria-controls="messages" role="tab" data-toggle="tab">Politics</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Startups</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Movies</a></li>
                            <li role="presentation"><a href="#travel" aria-controls="travel" role="tab" data-toggle="tab">Travel</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Events</a></li>
                            <li role="presentation"><a href="#others" aria-controls="settings" role="tab" data-toggle="tab">Others</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tech" style="margin-top: 15px;">
                                {{range $tweet := .TechTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="politics" style="margin-top: 15px;">
                                {{range $tweet := .PoliticsTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="travel" style="margin-top: 15px;">
                                {{range $tweet := .TravelTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="others" style="margin-top: 15px;">
                                {{range $tweet := .OtherTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



