.tweet-content {
//height: 100px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  -moz-force-broken-image-icon: 1;
}

.logo {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
//    width: 960px;
    margin: 0 auto;
    font: 28px Helvetica, sans-serif; color: #333;
    
}

.logout {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 1.5rem;
    display: block;
//    margin: 0 auto;
    font: 16px Helvetica, sans-serif; color: #33f;
    
}


.home {
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    margin: 0 auto;
    font: 24px Helvetica, sans-serif; color: #333;
}
.home p {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
a:hover { color: #333; text-decoration: none; }
 
