<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <link rel="stylesheet" type="text/css" href="/static/css/icons.css">
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.scrolling-tabs.min.css">

        <script src="/static/js/jquery-2.1.4.min.js"></script>

        <script src="/static/js/bootstrap4.min.js"></script>
        <!--script src="/static/js/bootstrap.bundle.min.js"></script-->

        <script src="/static/js/sensible.js"></script>
        <script src="/static/js/jquery.scrolling-tabs.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="bg-grey">
        <div class="container container-small bg-white">
            <div class="row">
                
                <div class="col">
                    <div class="row">
                        <div class="logo col">
                            Sensible
                        </div>
                        <div class="logout">
                            <a class="btn btn-default btn-outline-secondary btn-sm" href="/logout">Logout</a>
                        </div>
                    </div>


                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="myTab">

                            {{range $k, $v := .Tweets}}
                            <li role="presentation" class="nav-item"><a class="nav-link" href="#{{$k}}" aria-controls="{{$k}}" role="tab" data-toggle="tab">{{$k}}</a></li>
                            {{ end }}
                            <li role="presentation" class="nav-item"><a class="nav-link" href="#add" aria-controls="add" role="tab" data-toggle="tab">add</a></li>
                        </ul>
                        <div class="tab-content">
                            {{range $k, $v := .Tweets}}
                            <div role="tabpanel" class="tab-pane fade show" id="{{$k}}" style="margin-top: 15px;">
                                {{range $tweet := $v }}
                                {{ template "tweet" $tweet }}
                                {{end}}
                            </div>
                            {{ end }}
                            <div role="tabpanel" class="tab-pane fade show" id="add" style="margin-top: 15px;">
                                <form action="/saveCategories" method="post">
                                    {{ range $categoryIndex, $category := .Categories }}
                                    <div class="form-group row">
                                        <div class="col-sm-2"><h5>{{ $category.Name }}</h5></div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input type="checkbox" name="{{$categoryIndex}}" value="true"
                                                       {{ if $category.Show }}
                                                       checked
                                                       {{ end }}
                                                />

                                                <label class="form-check-label" for="gridCheck1">
                                                    Show
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="save-categories">Keywords</label>

                                        <textarea class="form-control" rows="3" name="{{$categoryIndex}}" >{{ range $kw := $category.Keywords}}{{ $kw}},{{ end }}</textarea>

                                    </div>

                                    <hr></hr>
                                    {{ end }}
                                    <button type="submit" id="submit-categories" class="btn btn-primary">Submit</button>
                                </form>
                            </div>                            


                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    {{range $k, $v := .Tweets}}
                                                    {{ if not (eq $k "other") }}
                                                    <div class="col-sm"><a href="#" class="btn btn-sm btn-outline-primary categorise" type="{{$k}}">{{$k}}</a></div>
                                                    {{ end }}
                                                    {{ end }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



