<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/images/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"-->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/sensible.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="logo col-md-10">
                            Sensible
                        </div>
                        <div class="logout">
                            <a class="btn btn-default btn-sm" href="/logout">Logout</a>
                        </div>
                    </div>
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a href="#tech" aria-controls="home" role="tab" data-toggle="tab">Tech</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sports</a></li>
                            <li role="presentation"><a href="#politics" aria-controls="messages" role="tab" data-toggle="tab">Politics</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Startups</a></li>
                            <li role="presentation"><a href="#travel" aria-controls="travel" role="tab" data-toggle="tab">Travel</a></li>
                            <li role="presentation"><a href="#others" aria-controls="settings" role="tab" data-toggle="tab">Others</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tech" style="margin-top: 15px;">
                                {{range $tweet := .TechTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                    <br></br>

                                </div>
                                <hr>
                                {{end}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="politics" style="margin-top: 15px;">
                                {{range $tweet := .PoliticsTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="travel" style="margin-top: 15px;">
                                {{range $tweet := .TravelTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="others" style="margin-top: 15px;">
                                {{range $tweet := .OtherTweets }}
                                <div class="row tweet-content">
                                    <div class="col-md-1"><img class="avatar" src="{{$tweet.User.ProfileImageURL}}"></div>
                                    <div class="col-md-11"><div><b>{{$tweet.User.Name}}</b> <a href="http://twitter.com/{{$tweet.User.ScreenName}}">@{{$tweet.User.ScreenName}}</a></br><div class="tweet-block">{{$tweet.FullText}}</div></div></div>

                                </div>

                                <div class="row classif">
                                    <div class="col-md-1 pull-right"><a href="/classify?tweet={{$tweet.FullText}}&type=tech" class="btn btn-default btn-xs">tech</a></div>
                                    <div class="col-md-1 pull-right"><a href="/classify?tweet={{$tweet.FullText}}" class=" btn btn-default btn-xs">sports</a></div>
                                    <div class="col-md-1 pull-right"><a href="/classify?tweet={{$tweet.FullText}}" class=" btn btn-default btn-xs">politics</a></div>
                                    <div class="col-md-1 pull-right"><a href="/classify?tweet={{$tweet.FullText}}" class=" btn btn-default btn-xs">startups</a></div>
                                    <div class="col-md-1 pull-right"><a href="/classify?tweet={{$tweet.FullText}}" class=" btn btn-default btn-xs">travel</a></div>
                                </div>
                                <hr>
                                {{end}}
                            </div>
                            Hello

      <!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      hello
    </div>
  </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



