{{ define "interactions" }}

<div class="row interactions" >
    <div class="col-sm-1"></div>
    <div class="col"><div class="chat icon coming-soon" title="coming soon" data-toggle="tooltip" data-placement="bottom"></div></div>
    <div class="col">
        {{ if .Retweeted }}
        <div class="retweet icon" title="Retweet" data-toggle="tooltip" data-placement="top" style=" color: green"> </div>
        {{ else }}
        <a href="#" class="tweet-retweet" data-tweet-id="{{.Id}}" >
            <div class="retweet icon" title="Retweet" data-toggle="tooltip" data-placement="top" style=" color: black"></div>
        </a>
        {{ end }}
    </div>
    <div class="col count">{{.RetweetCount}}</div>
    <div class="col">
        {{ if .Favorited }}
        <div class="heart icon"  title="Like" data-toggle="tooltip" data-placement="top" style=" color: red"></div></a></div>

        {{ else }}
        <a href="#" class="tweet-fav" data-tweet-id="{{.Id}}"><div class="heart icon"  title="Like" data-toggle="tooltip" data-placement="top" style=" color: black"></div></a>
        {{ end }}
    </div>

    
    <div class="col count">{{.FavoriteCount}}</div>           
    <div class="col"><div class="mail icon" title="coming soon" data-toggle="tooltip" data-placement="top"></div></div>
</div>

{{ end }}
