{{ define "interactions" }}

<div class="row interactions" >
    <div class="col-sm-1"></div>
    <div class="col-sm-1"><div class="chat icon coming-soon" title="coming soon" data-toggle="tooltip" data-placement="bottom"></div></div>
    <div class="col-sm-1"><a href="#" class="tweet-retweet" data-tweet-id="{{$tweet.Id}}" ><div class="retweet icon" title="Retweet" data-toggle="tooltip" data-placement="top"></div></a></div>
    <div class="col-sm-1"><a href="#" class="tweet-fav" data-tweet-id="{{$tweet.Id}}"><div class="heart icon"  title="Like" data-toggle="tooltip" data-placement="top"></div></a></div>
    <!--div class="col-sm-2 tweet-reply">DM icon</div-->
    <div class="col-sm-1"><div class="mail icon" title="coming soon" data-toggle="tooltip" data-placement="top"></div></div>
</div>

{{ end }}
