{{ define "tweet" }}

{{ if .RetweetedStatus }}
<div class="row">
    <div class="col-1">
        
        <div class="retweet icon" title="Retweet" data-toggle="tooltip" data-placement="top" style=" color: gray"></div>
        </div>
    <div class="col-10 rt-block content">
    <small><a style='color: gray;' href="http://twitter.com/{{.User.ScreenName}}">{{.User.Name}} Retweeted</a></small></br>
    </div>
</div>

{{ template "tweet-block" .RetweetedStatus }}
{{else}}
{{ template "tweet-block" . }}
{{end}}
{{ end }}
